@model List<OrderDetail>
@{
    ViewBag.Title = "جزییات این فاکتور";
}

<div class="text-center">
    <div class="text-center">
        <h2 class="mt-5 mb-5 ">ریز فاکتور </h2>
        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-12 box-shadow pt-5 box-container mt-5 pb-3">
            @Html.ActionLink("افزودن ریز فاکتور جدید", "AddDetail", "Admin", new { userId = ViewBag.UserId, orderId = ViewBag.OrderId }, new { @class = " btn btn-darkaqua mb-3" })
            @if (ViewData["SuccessDelete"] != null)
            {
                <span class="alert alert-success float-left">@ViewData["SuccessDelete"]</span>
            }
            <table class="table table-bordered table-responsive-sm table-hover">
                <thead class="thead-custom">
                    <tr class="text-center">
                        <th height="20" class="xl636160" align="left" width="20" style="height: 15.0pt; width: 15pt">
                            شناسه
                        </th>
                        <th> قیمت</th>
                        <th>وضعیت</th>
                        <th>تعداد</th>
                        <th>نام محصول</th>
                        <th>دستورات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>@order.DetailID</td>
                            <td>@order.Price.ToString("C0")</td>
                            <td>@(order.Order.IsFinaly==true?"نهایی شده":"نهایی نشده")</td>
                            <td>@order.Count</td>
                            <td>@order.Product.Name</td>
                            <td>
                                @Html.ActionLink("حذف", "DeleteDetail", "Admin", new { detailId = order.DetailID }, new { @class = "btn btn--danger" })
                                @Html.ActionLink("تغییر", "EditDetail", "Admin", new { detailId = order.DetailID }, new { @class = "btn btn-info" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>